
@import url('./fontello.css');
@import url('./boxes.css');

body {
  @apply h-full text-base bg-shark-600;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

/* This Delete the arrows of inputs type number */
@layer base {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.container {
  @apply mx-auto max-w-[1860px] px-5;
}

.svgcontainer {
  position: relative;
  line-height: 0;
}

.svgcontainer::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(10, 10, 10, 0.5) 30%, rgba(10, 10, 10, 1) 100%);
  z-index: 1;
  opacity: 1;
  transition: opacity 300ms;
}

.svgcontainer:hover::after {
  opacity: 0;
}

/************* Text Gradient ***********/

.text-gradient {
  @apply text-transparent bg-gradient-to-r from-outrageous-orange-500 to-festival-500 bg-clip-text;
}

/************* ScrollBar ***********/
::-webkit-scrollbar {
  @apply mr-[10px] w-[10px];
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply w-2 bg-white border-4 border-solid rounded-xl border-shark-400 bg-opacity-40;
}

/************* Text Gradient ***********/

.text-gradient {
  @apply text-transparent bg-gradient-to-r from-outrageous-orange-500 to-festival-500 bg-clip-text
}

/************* Button ***********/
.button {
  @apply flex items-center justify-center px-5 py-3 text-sm font-normal transition rounded-lg focus:outline-none;
}
.button-default {
  @apply text-white hover:text-outrageous-orange-400;
}
.button-primary {
  @apply
  text-white
  border
  border-outrageous-orange-400
  overflow-hidden
  relative
  bg-button-primary
  after:w-full
  after:h-full
  after:absolute
  after:top-0
  after:left-0
  after:z-[10]
  after:bg-button-primary-hover
  after:transition-all
  hover:after:opacity-100
  after:opacity-0
}
.button-secondary {
  @apply text-white bg-transparent border border-transparent hover:bg-shark-400 hover:border-shark-300 hover:text-transparent hover:bg-gradient-to-r from-outrageous-orange-500 to-festival-500 hover:bg-clip-text;
}

.button-tertiary {
  @apply text-white border bg-shark-400 border-shark-400 hover:bg-button-primary hover:border-outrageous-orange-400;
}

.main-header-box {
  @apply relative

  before:content-['']
  before:absolute
  before:left-0
  before:bottom-0
  before:bg-[url(/static/images/landing/main/box.svg)]
  before:w-1/2
  before:h-[123px]
  before:-z-10

  after:content-['']
  after:absolute
  after:right-0
  after:bottom-0
  after:bg-[url(/static/images/landing/main/box.svg)]
  after:w-1/2
  after:h-[123px]
  after:bg-right
  after:-z-10;
}

.landing-info-box {
  @apply relative h-[400px] md:h-[268px] max-md:max-w-[350px]

  before:content-['']
  before:absolute
  before:left-0
  before:top-0
  before:bottom-0
  before:bg-[url(/static/images/landing/info/box-border-mobile.svg)]
  md:before:bg-[url(/static/images/landing/info/box-border.svg)]
  before:w-1/2
  md:before:h-[268px]
  before:-z-10
  max-md:before:bg-cover

  after:content-['']
  after:absolute
  after:right-0
  after:top-0
  after:bottom-0
  after:bg-[url(/static/images/landing/info/box-border-mobile.svg)]
  md:after:bg-[url(/static/images/landing/info/box-border.svg)]
  after:w-1/2
  md:after:h-[268px]
  after:bg-right
  after:-z-10
  max-md:after:bg-cover;
}

.landing-info-box-big {
  @apply relative  h-auto

  before:content-['']
  before:absolute
  before:left-0
  before:top-0
  before:bottom-0
  before:bg-[url(/static/images/landing/info/box-border-mobile.svg)]
  md:before:bg-[url(/static/images/landing/info/box-border.svg)]
  before:w-1/2
  md:before:h-[268px]
  before:-z-10
  max-md:before:bg-cover

  after:content-['']
  after:absolute
  after:right-0
  after:top-0
  after:bottom-0
  after:bg-[url(/static/images/landing/info/box-border-mobile.svg)]
  md:after:bg-[url(/static/images/landing/info/box-border.svg)]
  after:w-1/2
  md:after:h-[268px]
  after:bg-right
  after:-z-10
  max-md:after:bg-cover;
}

.slider-bottom {
  -webkit-appearance: none;
  width: 100%; /* Ajusta el ancho según necesites */
  height: 10px; /* Ajusta la altura según necesites */
  background: #ccc; /* Color del riel */
  border-radius: 5px; /* Borde redondeado */
}

#fenix_graph {
  @apply w-full h-full [&>div]:w-full [&>div]:h-full;
}

@tailwind base;
@tailwind components;
@tailwind utilities;