/************* Boxes ***********/

.swap-box-top {
  @apply relative
  left-0
  right-0
  bottom-full
  h-[70px]
  overflow-hidden
  hidden
  xl:block

  before:content-[""]
  before:absolute
  before:bg-[url("/static/images/components/box/swap/top.svg")]
  before:bg-no-repeat
  before:h-full
  before:bg-cover
  before:w-full
  before:left-0
  before:top-0
}

.swap-box-bottom {
  @apply relative
  hidden
  xl:block
  left-0
  right-0
  top-full
  h-[60px]
  overflow-hidden

  before:content-[""]
  before:absolute
  before:bg-[url("/static/images/components/box/swap/bottom.svg")]
  before:bg-no-repeat
  before:h-full
  before:bg-cover
  before:w-full
  before:left-0
  before:top-0
}


.main-box-top {
  @apply relative
  left-0
  right-0
  hidden
  xl:block
  bottom-full
  h-[80px]
  overflow-hidden

  before:content-[""]
  before:absolute
  before:bg-[url("/static/images/components/box/main/top.svg")]
  before:bg-no-repeat
  before:h-full
  before:bg-cover
  before:w-full
  before:left-0
  before:top-0
}

.main-box-bottom {
  @apply relative
  left-0
  right-0
  hidden
  xl:block
  top-full
  h-[80px]
  overflow-hidden

  before:content-[""]
  before:absolute
  before:bg-[url("/static/images/components/box/main/bottom.svg")]
  before:bg-no-repeat
  before:h-full
  before:bg-cover
  before:w-full
  before:left-0
  before:top-0
}

.steps-box-top {
  @apply relative
  left-0
  right-0
  bottom-full
  h-[40px]
  overflow-hidden

  before:content-[""]
  before:absolute
  before:bg-[url("/static/images/components/box/steps/top.svg")]
  before:bg-no-repeat
  before:h-full
  before:bg-cover
  before:w-full
  before:left-0
  before:top-0
}

.steps-box-bottom {
  @apply relative
  left-0
  right-0
  top-full
  h-[60px]
  md:h-[100px]
  lg:h-[70px]
  xl:h-[50px]
  2xl:h-[70px]
  overflow-hidden

  before:content-[""]
  before:absolute
  before:bg-[url("/static/images/components/box/steps/bottom.svg")]
  before:bg-no-repeat
  before:h-full
  before:bg-cover
  before:w-full
  before:left-0
  before:top-0
}


.exchange-box {
  @apply relative bg-shark-400 bg-opacity-40 w-full rounded-xl pl-8 pr-6 py-6

  before:absolute
  before:w-0
  before:h-0
  before:top-[-21px]
  before:left-[20px]
  before:rotate-[89deg]
  before:border-solid
  before:border-t-[40px]
  before:border-r-[40px]
  before:border-b-[40px]
  before:border-[transparent_transparent_#1b1d21]

  after:absolute
  after:w-0
  after:h-0
  after:bottom-[-15px]
  after:right-[14px]
  after:rotate-[-91deg]
  after:border-solid
  after:border-t-[30px]
  after:border-r-[30px]
  after:border-b-[30px]
  after:border-[transparent_transparent_#1b1d21];
}
