@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('./fontello.css');
@import url('./boxes.css');

body {
  @apply h-full text-base bg-shark-600;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

/* This Delete the arrows of inputs type number */
@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.container {
  @apply mx-auto max-w-[1860px] px-5;
}


/************* ScrollBar ***********/
::-webkit-scrollbar {
  @apply mr-[10px] w-[10px];
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply w-2 bg-white border-4 border-solid rounded-xl border-shark-400 bg-opacity-40;
}

/************* Text Gradient ***********/

.text-gradient {
  @apply text-transparent bg-gradient-to-r from-outrageous-orange-500 to-festival-500 bg-clip-text
}

/************* Button ***********/
.button {
  @apply flex items-center justify-center px-5 py-3 text-sm font-normal transition rounded-lg focus:outline-none;
}
.button-default {
  @apply text-white hover:text-outrageous-orange-400;
}
.button-primary {
  @apply
  text-white
  border
  border-outrageous-orange-400
  overflow-hidden
  relative
  bg-button-primary
  after:w-full
  after:h-full
  after:absolute
  after:top-0
  after:left-0
  after:z-[10]
  after:bg-button-primary-hover
  transition-all
  hover:after:opacity-100
  hover:after:visible
  after:opacity-0
  after:invisible
}
.button-secondary {
  @apply text-white bg-transparent border border-transparent hover:bg-shark-400 hover:border-shark-300 hover:text-transparent hover:bg-gradient-to-r from-outrageous-orange-500 to-festival-500 hover:bg-clip-text;
}

.button-tertiary {
  @apply text-white border bg-shark-400 border-shark-400 hover:bg-button-primary hover:border-outrageous-orange-400;
}

#fenix_graph {
  @apply w-full h-full [&>div]:w-full [&>div]:h-full;
}
